<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clps.mybatis.mapper.CustomerMapper">
	
	<resultMap type="com.clps.mybatis.bean.Customer" id="CustomerResultMap">
		<id column="cust_id" property="custId"/>
		<result column="cust_name" property="custName"/>
		<result column="cust_age" property="custAge"/>		
	</resultMap>
	<select id="getCustomerById" resultMap="CustomerResultMap">
		select *
		 from tbl_cust
		where cust_id=#{custId}
	</select>
	
</mapper>